<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <add key="DbHelperProvider" value="System.Data.SqlClient" />
    <add key="DbHelperConnectionString" value="Data Source=.;Initial Catalog=Forum;Persist Security Info=True;User ID=sa;Password=123456;" />
  </appSettings>
  <system.web>
         <compilation defaultLanguage="C#" debug="true" targetFramework="4.0" />
	 </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument> 
            <files>
                <add value="Home.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>