#header {
    font-size: 300%;
    font-weight: 500;
    margin: 32px 0;
    text-align: center;
}

#search_controls {
    width: 100%;
}

#search_btn {
    width: 100%;
}

#results,
#results tr,
#results th,
#results td {
    border: 2px solid #444;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    padding: 4px;
}

#limit_select {
    width: 80px;
}

#select_all_cb {
    margin: 0 0 0 6px;
}

label[for=select_all_cb] {
    margin: 0;
}

#match_select {
    width: 100%;
}

.form-control {
    display: inline-block;
}

.tooltip {
    cursor: default;
}

.controls {
    display: table;
    margin: 0 auto;
}
.controls th,
.controls td {
    vertical-align: middle;
    padding: 0 8px;
}

.download {
    position: relative;
}
.download > div {
    display: none;
    position: absolute;
    left: 0;
    padding: 8px;
    background: #fff;
    border: 2px solid #444;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 999;
}

.download > div > select {
    width: auto;
}

.searchbox {
    display: inline-block;
    position: relative;
    width: 100%;
}
.searchbox > input[type=text] {
    display: inline-block;
    border: 2px solid #444;
    font-size: 110%;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    height: 100%;
}
.searchbox > input[type=text]:focus {
    border-color: #3399FF;
}
.searchbox > div {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    border: 2px solid #444;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 300px;
    z-index: 999;
}
.searchbox.show > div {
    display: block;
}
.searchbox > div > p {
    background: #fff;
    color: #444;
    margin: 0;
    padding: 4px;
    border-radius: 2px;
}
.searchbox > div > p:focus {
    background: #3399FF;
    color: #fff;
}
.searchbox > div > h5 {
    color: #444;
    margin: 0;
    padding: 4px;
}
